h3{
    text-align: center;
}
#result-region{
    text-align: center
}

table, th, tr, td{
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;


}
#wait{
    display:none;
    width:auto;
    height:auto;
    position:absolute;
    left:35%;
    padding:2px;
}