<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <servlet>
        <servlet-name>Add Course Servlet</servlet-name>
        <servlet-class>controller.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add Course Servlet</servlet-name>
        <url-pattern>/add-course</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Course Servlet</servlet-name>
        <servlet-class>controller.FindCourseByNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Course Servlet</servlet-name>
        <url-pattern>/find-course</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>All Course Servlet</servlet-name>
        <servlet-class>controller.ListCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>All Course Servlet</servlet-name>
        <url-pattern>/find-all-course</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
